[View in Colaboratory](https://colab.research.google.com/github/Esaslow/Week0Colab/blob/master/Lists_and_Tuples_lecture.ipynb)

## Making your VM jupyter notebook accessable always
- Using **tmux**
---
1. ssh to your **virtual machine**
2. Start new tmux session:  _tmux_
3. In the current tmux session start new jupyter notebook: _jupyter notebook_
4. Detach from tmux session by using the command:  _cntrl+b_ then _d_

To reattach:
1. Look at all tmux sessions: _tmux ls_
2. Choose which session you would like to attach to (in this case I chose session 0):
_tmux a -t 0_

# Review from yesterday 

1. Types of variables:
  - Strings (words)
  - Numbers (Floats and Integers)
2. If, Else, Not  statements

Lets consider that we may want to store many of these variables in a single data structure

### Goals:

- How do we store many pieces of data in a single structure?
- What kind of structures do we have available to us?
- How can we manipulate these datastructures and use the data in them?
- Remember **list** is a protected keyword!!
----

# Collections and Iteration
### Collection = Holding data
### Iteration = Going through data in Collection

**Collections** are a class of data types that gather together conceptually related data into a whole. 

**Examples:**
- lists
- sets
- tuples
- dictionaries

#### Question?  What are the differences between these collections? 


We will discuss four main types of collections today: **lists, tuples, sets, and dictionaries**

Brandon will be teaching you more about **Sets** and **Dictionaries**, while I will introduce **Lists** and **Tuples**

**Iteration** is the process of visiting each member of a collection, and taking an action on it. 

For example, we could visit all the strings in a list and join the various words into a sentence, or we could visit all the numbers in a set and calculate the sum of them all.

-----
## Lists

- list notation:
` [.....]`

#### What can go inside a list?

- Numbers
- Strings
- Numbers and strings
- Other lists (matrix)

In [0]:
lst1 = [1,2,3,4]
lst2 = ['strings','can','go','in','lists']
lst3 = ['strings', 'and',3,4,5]
lst4 = ['pretty much anything can go in here!']

#### What is the length of a list
- The number of pieces of data that we are storing in the list

In [3]:
# Length of list 1
print('The length of list one is: ',len(lst1))

The length of list one is:  4

In [4]:
# Length of list 3
print('The length of list one is: ',len(lst3))

The length of list one is:  5

### Your Turn -- (with a partner)
1. Add a cell
2. Create a list (put whatever you want in it)
3. Find the length of the list

**Challange: Using the length of the list and algebraic operations, make the notebook print out the number 6 (without the length of the list being 6)**

#### Indexes!  
- The index refers to the location that data point is at

For example with out list `lst1 = [1,2,3,4]` the number `1` is at the 0th index and the number `4` is at the 3rd index.  Lets explore this a little more

In [5]:
# Print the list
print(lst1)

[1, 2, 3, 4]

In [6]:
# Get the item at index 0
lst1[0]

1

In [7]:
# Get the items starting at index 1 and going to index 2
lst1[1:3]

[2, 3]

In [8]:
# Get the items up to index 3
lst1[:3]

[1, 2, 3]

In [9]:
# Get the items from index 1 to the end
lst1[1:]

[2, 3, 4]

### Your turn!  Lets say that we have the following list:

`lst = [10,3,4,2,50,22,18,19]`

- What index is 10 at?

- What index is 50 at?

- What code would I use to get the numbers `[4,2,50,22]`?

In [14]:
#Elliott 
lst = [10,3,4,2,50,22,18,19]
lst[0]

10

### Common Methods that can be applied to a list:

#### Appending to a list 

You can add to the end of a list using the append method! 

`lst.append(number)`


#### Insterting into a specific index

Inserts the element at the given index, shifting elements to the right.

`list.insert(index, elem)`

#### Extending a list

Adds the elements in list2 to the end of the list.

`list.extend(list2) `

You can append as may numbers as you like to a list, but if your list get HUGE you will find it slows down operations dramatically

In [12]:
lst = [1,2,3]
print('Here is the list: ',lst)
lst.append(10)
print('Here is the list with a number appended to it! ',lst)

Here is the list:  [1, 2, 3]
Here is the list with a number appended to it!  [1, 2, 3, 10]

### Your turn!  
1. Create a list **(Dont use the name list -- Its protected)**
2. Insert a value into the front of the list
3. Append a value to back of the list
4. Insert a value in the middle of the list (you pick the index)
5. Extend your list with a list that someone else made!

## The `In` operator
We can use the in operatior to see if a number exists in our list

This will return a true or false answer

In [17]:
lst = [10,3,4,2,50,22,18,19]
print(4 in lst)
print(33 in lst)
print('hello' in lst)
print('--'*50)


if 4 in lst:
  print('Wow I can use the in operator to generate booleans!')

True
False
False
----------------------------------------------------------------------------------------------------
Wow I can use the in operator to generate booleans!

### Your turn

1. Create a new list
2. Check to see if 'Cat' is in your list
  - If it isn't add 'Cat' to your list
  - if it is print 'I read Elliott's mind and added cat to my list'
 
Play with the in operator and see if it works with floats, integers, and strings!

In [11]:
lst = [10,3,4,2,50,22,18,'hello']
print('hello' in lst)

True

This is super useful for if statments:

`if number in lst:
    use number in sum`

---------

## Iterating through a list!
We can go through each number in the list using a for loop!  And also we can go through each index in the list

**Start with iterating through each value in a list**
- number refers to the value in the list

In [12]:
lst1 = [1,2,3,4]
for number in lst1:
    print(number)

1
2
3
4

Or we could iterate through the numbers using the **index!!**

- i refers to the index of the lst

In [13]:
lst1 = [1,2,3,4]
for i in range(len(lst1)):
    print(lst1[i])

1
2
3
4

Or we could iterate through both of these at the same time using the `enumerate` command:

In [14]:
lst1 = [1,2,3,4]
for i,number in enumerate(lst1):
    print('index: ',i,'|| Value: ',number)

index:  0 || Value:  1
index:  1 || Value:  2
index:  2 || Value:  3
index:  3 || Value:  4

----------------
## Tuples!
- Notation!`(.....)`

- Length is the same as lists!
- Indexing is the same as lists!
- Lists can be changed -- Tuples cannot (Mutability, vs Immutable)

In [15]:
# Mutability Example
lst1 = [1,2,3,4] 
lst1[0] = 10
print(lst1)

[10, 2, 3, 4]

In [19]:
# Immutable Example (continued below)
tup1 = (1,2,3)
print(tup1[0])

1

In [17]:
tup1[0] = 3

TypeError: ignored

#### Error -- Can't change the values in the tuple!

- Can have a list of tuples!

In [0]:
lst = [(1,2),(2,3),(3,4)]

- Tuples can be any length
- Useful for holding `x,y` pairs or `x,y,z,...` pairs

-----

Iteration works the same with tuples!  
 
- Look at iterating through one tuple

In [19]:
tup1 = (1,2,3)

for value in tup1:
    print(value)

1
2
3

- Look at iterating through list of tuples:

In [18]:
lst = [(1,2),(2,3)]
for tup in lst:
    print('\nPrinting Tuple Values\n','--'*10,)
    for i,value in enumerate(tup):
        print('Tuple index ',i,' = ', value)

Printing Tuple Values
 --------------------
Tuple index  0  =  1
Tuple index  1  =  2

Printing Tuple Values
 --------------------
Tuple index  0  =  2
Tuple index  1  =  3