[View in Colaboratory](https://colab.research.google.com/github/Esaslow/Week0Colab/blob/master/Sets_and_Dictionaries_lecture.ipynb)

In [0]:
#IGNORE THIS
from random import choice, shuffle
students = ["Alberto", "Danielle", "Deepak", "Eric", "Katelyn", 
            "Jeremy", "John Braunlin", "John Hayes", "Jon Bate",
            "Prumjot", "Robert", "U-Jan", "Wanlu", "Will", "Claire"]
coldcall = lambda: choice(students)

# Sets and Dictionaries

Get ready to learn about sets and dictionaries.

## 0 Objectives

By the end of the lession you should be able to:

### Store data

* Create, add to, and access data in **sets** and **dictionaries**.

### Choose structure

* State advantages and disdvantages of different collection types
* Match a dataset with an appropriate collection type

### Apply computational strengths

* Use the advantages of sets and dictionaries to simplify and speed up algorithms

> **sidebar** You can safely ignore the sidebars, but if you have an extra moment, you may find them edifying.

## 1 New Skill: Colab Virtual Machines

When you run a code cell in a colab notebook, Colab _gives you your own virtual machine_. To run shell commands in code cells, start with `!`.

**Good to know**: the exclamation mark "!" is pronounced "bang". So `!ls` is pronounced "bang ell ess".

For example, list the contents of the root directory:

In [3]:
!ls /

bin
boot
colabtools
content
datalab
dev
etc
gpu-tensorflow-1.10.1-cp27-cp27mu-linux_x86_64.whl
gpu-tensorflow-1.10.1-cp36-cp36m-linux_x86_64.whl
home
lib
lib64
media
mnt
opt
proc
root
run
sbin
srv
sys
tensorflow-1.10.1-cp27-cp27mu-linux_x86_64.whl
tensorflow-1.10.1-cp36-cp36m-linux_x86_64.whl
tf_deps
tmp
tools
usr
var

Run the following cell. It will download the contents of the book "Pride and Prejudice" by Jane Austin, and put in in a text tile "pp.txt" in the current working directory on your own personal virtual machine.

In [6]:
! pwd

/content

In [7]:
! ls

.  ..  .config	pp.txt	sample_data

In [1]:
!wget https://www.gutenberg.org/files/1342/1342.txt -O pp.txt

--2018-09-05 20:08:48--  https://www.gutenberg.org/files/1342/1342.txt
Resolving www.gutenberg.org (www.gutenberg.org)... 152.19.134.47, 2610:28:3090:3000:0:bad:cafe:47
Connecting to www.gutenberg.org (www.gutenberg.org)|152.19.134.47|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 717602 (701K) [text/plain]
Saving to: â€˜pp.txtâ€™

pp.txt              100%[===================>] 700.78K   778KB/s    in 0.9s

2018-09-05 20:08:49 (778 KB/s) - â€˜pp.txtâ€™ saved [717602/717602]

## 2 Sets

A **set** is very similar to a list. A set literal is like a list literal, with curly brackets instead of square brackets:

In [3]:
#this is a set
a_set = {1, 2, 'a', 'b', 12.5}
a_set

{1, 12.5, 2, 'a', 'b'}

**note** You might think that `{}` creates an empty set, but you'd be wrong. The expression for an empty set is `set()`.

There are two main differences from lists.

### 2.1 Sets are unordered

This means you can't reference their elements by location.

In [32]:
a_set[0]

TypeError: ignored

### 2.2 Sets can not have duplicate items

In [4]:
{'a', 'a', 1, 2, 3, 3, 3, 3, 3, 3}

{1, 2, 3, 'a'}

Attempting to add a duplicate item does not cause an error, because this is a common use case for sets.

**Individual coding**. Create a set with five items, and then iterate over it, printing each item.

In [7]:
# foo
set1 = {55,989,2,0,2}
for thing in set1:
  print(thing)
type(set1)

0
2
989
55

set

In [3]:
#John B
set1 = {x for x in range(0,5)}
for i in set1:
  print (i)

0
1
2
3
4

In [3]:
#robert
Game_set = {'a','b','3',3, 9}
for i in Game_set:
  print(i)

3
b
3
9
a

In [6]:
#Elliott
Elliotts_set = {1,2,3,'word','notword',(1,2)}
for thing in Elliotts_set:
  print(thing)

(1, 2)
1
2
3
notword
word

In [2]:
#Katelyn
set_1 = {1,2,3,'a','h',6}
for item in set_1:
  print(item)

1
2
3
h
6
a

In [7]:
#john h
set_a = {1,2,3,4,5}
for num in set_a:
  print (num)

1
2
3
4
5

In [3]:
#jan deepak
set_yo = {1,1,1,1,2,3,4,4,5}
print(set_yo)

{1, 2, 3, 4, 5}

In [7]:
#Alberto
set_1 = {2, 4, 6, 8, 1, (8, 9 ,10)}
for i in set_1:
  print(i)

(8, 9, 10)
1
2
4
6
8

In [12]:
#will
set1 = {7,3,1,4,5,6, 'cat', True, (1,2)}
for item in set1:
  print(item)

(1, 2)
1
cat
3
4
5
6
7

In [3]:
#prum
set1 = {1,2,3,4}
for num in set1:
  print (num)

1
2
3
4

In [11]:
#Jon B
a = {1, 5, 'sd', True, 345.7}
for item in a:
  print(item)

sd
1
345.7
5

> **sidebar** In the monumental work _The Principia Mathematica_, mathematicians Alfred Russell and Bertrand Russell dervied _all of mathematics_ starting _only from sets_. To derive the statement "1+1=2" starting from the rules of sets takes several hundred pages.

### 2.3 Advantage of sets

These constraints buy us a very useful property: **constant time membership check**.

This means that as a set grows larger, the amount of time it takes to check whether or not a value is in the set does _not_ increase.

> **sidebar** This magic is accomplished with a data structure called a _hash table_.

**Question** How would you check if a value is a member of a set?

**Pair coding**

One way to put the contents of a file in a string is:

```python
contents = open(FILENAME).read()
```

To create a list with all the words in a given string:

```python
words = contents.split()
```

Determine whether or not the word "python" occurs anywhere in the book "Pride and Prejudice".

### 2.4 Set operations

Constant-time membership check enables efficient set operations. The main set operations are:

#### union

The union of two sets has every member from both sets.

In [33]:
a = {1,2,3,4}
b = {3,4,5,6}
a.union(b)

{1, 2, 3, 4, 5, 6}

In [34]:
# this is a shortcut
a | b

{1, 2, 3, 4, 5, 6}

#### intersection

The intersection of two sets has every member which is in both sets.

In [35]:
a.intersection(b)

{3, 4}

In [36]:
# here's a shortcut
a & b

{3, 4}

#### difference

The difference of sets `A - B` is the every member which is in `A` but not `B`.

In [37]:
a.difference(b)

{1, 2}

In [38]:
# here's a shortcut
a - b

{1, 2}

**Question** 
* Is `a & b` the same as `b & a`? 
* Is `a - b` the same as `b - a`?

**Small teams**

Start a code cell with the contents:

```python
a = {1,2,3,4}
b = {3,4,5,6}
```

Find the set of all items that are not in both sets.

#### Exercise: The Total Union

Write a function that computes the total union of a list of sets.

```python
$ total_union([{1, 2}, {2, 3}, {3, 4}])
{1, 2, 3, 4}
$ total_union([{1, 2, 3, 4}, {1, 2, 3}, {1, 2}])
{1, 2, 3, 4}
```

#### Exercise: The Total Intersection

Write a function that computes the total intersection of a list of sets.

```python
$ total_intersection([{1, 2}, {2, 3}, {3, 4}])
{}
$ total_intersection([{1, 2, 3, 4}, {1, 2, 3}, {1, 2}])
{1, 2}
```

### 2.5 Building a set incrementally with `add`.

  - The `.add` method and the builder pattern.
  - Yup, this means sets are mutable.

#### Exercise: List to Set
Write a function `list_to_set` that converts a list into a set

```python
$ list_to_set([1, 2, 3, 4])
{1, 2, 3, 4}
$ list_to_set([])
set([])
```

#### Exercise: The Set of Primes

Write a function that takes as argument a positive integer `n`, and returns the set of prime numbers less than or equal to `n`.

```python
$ primes(10)
{2, 3, 5, 7}
$ primes(100)
{2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97}
```

**hint** If you use sets in the algorithm, the implementation can be as short as four lines.


### 2.6 The `in` operator.

  - Efficiency of the `in` operator for lists vs. sets.
  - Reading in a file.
  - Checking whether a word is in a book, list vs. set.
  
**Question, for pairs** 
* What kind of data would you want to typically represent with a set? 
* When would it be appropriate to convert a list to a set?

## 3 Dictionaries

#### Exercise: List of Tuples

Consider the case of lists-of-tuples.  Here's an example where the first element of each tuple is a post-punk band, and the second element of each tuple is an important album they recorded

```python
post_punk_albums = [
    ("Wire", "Pink Flag"),
    ("Gang of Four", "Entertainment!"),
    ("Joy Division", "Unknown Pleasures"),
    ("Pere Ubu", "Dub Housing"),
    ("Public Image Ltd", "First Issue")
]
```

We can think of a data structure like this as a *mapping* from bands to albums.  In abstract, we will refer to the first element of such a tuple as a **key** and the second as a **value**.

**Individual coding** Write a function that consumes a list of two-tuples and the value of a key, and returns the value stored in the tuple with that key.  For example

```
$ lookup_by_key(post_punk_albums, "Pere Ubu")
"Dub Housing"
```

Dictionaries encode this kind of data - where there is a one-to-one **association** between one set (e.g, post-punk bands) and another set (e.g., their most important album).

> **sidebar** In mathematics, a one-to-one mapping between two sets is called a _bijection_.

### 3.1 Definition

* Like a set, a series of items between curly braces.
* Each item, however, is a pair of values separated by a colon:

In [0]:
post_punk_albums = {
    "Wire": "Pink Flag",
    "Gang of Four": "Entertainment!",
    "Joy Division": "Unknown Pleasures",
    "Pere Ubu": "Dub Housing",
    "Public Image Ltd": "First Issue"
}

### 3.2 Indexing into a Dictionary

Dictionary items are accessed like list items, but with _keys_ instead of _indexes_.

In [68]:
post_punk_albums[ "Joy Division" ]

'Unknown Pleasures'

#### Individual coding: A Negative Dictionary
Write a function `negative_lookup` that takes a dictionary and an integer as arguments, and looks up the value stored under the *negative* of that integer.

```
$ negative_lookup({1: 'one', -1: 'negative one'}, 1}
"negative one"
```


### Efficiency of dictionaries vs. lists of tuples.

**Question to the classroom**

### 3.3 The `.get` Method

Attrempting to access an item that isn't in a list causes an error.

In [75]:
a_dict = {'foo':'bar', 'biz':'baz'}
a_dict[ "ðŸ¤¡" ]

KeyError: ignored

If you would like a dict access to fail gracefully, use `.get`.

In [76]:
print( a_dict.get("something_that_isn't_there") )

None

### 3.4 The `in` operator

The `in` operator tests if a value is in the set of a dictionary's _keys_.

In [79]:
a_dict = {'biz':'baz', 'foo':'bar'}
print( "biz" in a_dict )
print( "baz" in a_dict )

True
False

#### Pair coding: Positive or Negative Lookup
Write a function `positive_or_negative_lookup` that takes a dictionary and an integer as arguments.  If the integer is a key in the dictionary, return the value stored under that key.  Otherwise, if the negative of the integer is a key in the dictionary, return the value stored under the negative of the key.  If both of these fail, return `False`.

```
$ positive_or_negative_lookup({1: 'one', -2: 'negative two'}, 1)
"one"
$ positive_or_negative_lookup({1: 'one', -2: 'negative two'}, 2)
"negative two"
$ positive_or_negative_lookup({1: 'one', -2: 'negative two'}, 3)
False
```

### 3.5 Building a Dictionary Incrementally

  - Creating empty dictionaries

In [81]:
empty_dict = {}
print( empty_dict )

{}

  - Building a dictionary incrementally

In [82]:
a = {}
for i in range(5):
  a[i] = str(i)*3
a

{0: '000', 1: '111', 2: '222', 3: '333', 4: '444'}

#### Individual coding: Alphabet Dictionary
Create a dictionary whose keys are letters in the alphabet, and whose values are their *position* within the alphabet.

#### Pair coding: Dictionary Reversal
Write a function `reverse_dictionary` that swaps the roles of keys and values in a dictionary.

```python
$ reverse_dictionary({'a': 1, 'b': 2, 'c': 3})
{1: 'a', 2: 'b', 3: 'c'}
```


### 3.6 Restrictions on Dictionary Keys

Dictionary keys must be instance of immutable types.

**Cold call** What are examples of immutable values? Mutable types?

Technically, this is incorrect. Dictionary keys must be _hashable_. In practice this is very similar to being immutable. However, instances of custom objects may be mutable and provide a hash method, though this is bad form.

#### Individual coding: Number Pairs
Write a function that consumes a list of numbers, then returns a dictionary whose keys are *pairs* of these numbers, and whose values are the sum of the two numbers.  For example, under the pair 2, 3, we would store the sum number 5.

```python
$ dict_of_sums([1, 2, 3])
{(0, 0): 2, (0, 1): 3, (0, 2): 4, (1, 1): 4, (1, 2): 5, (2, 2): 6}
```

#### Pair coding: Dictionary Reversal Revisited
As we have seen, when we add a key to a dictionary multiple times, the value gets overwritten.  This has consequences for reversing a dictionary

```python
$ reverse_dict({'a': 1, 'b': 2, 'c': 2}) 
{1: 'a', 2: 'c'}
```

Fix this issue in your `reverse_dictionary` function by instead creating a dictionary of lists.

```python
$ reverse_dict({'a': 1, 'b': 2, 'c': 2})
{1: ['a'], 2: ['b', 'c']}
```

### 3.7 Looping over dictionaries.

  - Looping over the keys in a dictionaries

In [83]:
for key in {'foo':'bar', 'black':'flag', 1:'steaksauce'}:
  print( key)

foo
black
1


  - Other looping options: python 2 vs. python 3
  
 When you perform a list comprehension on a dictionary, it operates on the keys:

In [87]:
a_dict = {'foo':'bar', 'black':'flag'}
[key.upper() for key in a_dict]

['FOO', 'BLACK']

If you want to iterate over both the keys and values of a dict, use `.items()`

In [89]:
a_dict = {'foo':'bar', 'black':'flag'}
[key.upper()+"! "+val.upper()+"!" for key,val in a_dict.items()]

['FOO! BAR!', 'BLACK! FLAG!']

Python 3 offers a _dict comprehension_. They look like this:

In [90]:
a_dict = {'foo':'bar', 'black':'flag'}
{key.upper():val for key,val in a_dict.items()}

{'BLACK': 'flag', 'FOO': 'bar'}



#### Individual coding: Merging Dictionaries
Write a function `merge_dictionaries` which takes two dictionaries are arguments, and returns a *merged* dictionary.  That is, one containing any key, value pair that appears in *either* dictionary.